In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from fbprophet import Prophet
import datetime

In [3]:
from pandas import to_datetime

In [4]:
date = list()
dat = '2021-6-28'
date.append([dat])
date = pd.DataFrame(date)
date.columns = ['ds']
date['ds'] = to_datetime(date['ds'])

In [7]:
import pickle

In [8]:
pkl_path = "/content/Karnataka.pkl"
# read the Prophet model object
with open(pkl_path, 'rb') as f:
    model = pickle.load(f)

In [9]:
forecast = model.predict(date)

INFO:numexpr.utils:NumExpr defaulting to 2 threads.

**We just need to show the yhat_upper to the user**

In [10]:
forecast

          ds         trend  ...  multiplicative_terms_upper          yhat
0 2021-06-28  2.057305e+06  ...                         0.0  2.059118e+06

[1 rows x 16 columns]